/*  */
/*  */
/*  */
/* portfolio personalize */
/* --primary: #183333;
--secondary: #96ccee;
--tertiary: #f7bf75;*/
/*  */
/*  */
.portfolio-grid {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100%;
}
.portfolio-grid-container {
  grid-column: 2;
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.portfolio-nav-container {
  grid-column: 1;
  grid-row: 1/-1;
  height: 100%;
  padding: 1rem 0 0;
  margin: 0;
  background-color: #96ccee;
  border-top: 4px solid #183333;
}

.portfolio-nav-links {
  padding: 6px;
  margin: 1px auto;
}
.portfolio-nav-links:hover {
  text-decoration: none;
  padding: 6px;
  background-color: rgba(245, 245, 245, 0.3);
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.4);
  border-radius: 0.5rem;
}

.portfolio-account-info-home-div {
  grid-column: 2;
  height: 100%;
  width: 100%;
  background: #183333;
  box-shadow: inset 2px 2px 8rem 1rem #102222;
}

.portfolio-account-info-home-div-inner {
  grid-column: 2;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  color: whitesmoke;
  font-size: calc(14px + 1vw);
}

.portfolio-account-info {
  grid-column: 2;
  width: 95%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 55% 45%;
}
.portfolio-grid-form {
  width: 98%;
  padding: 1rem 0;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.portfolio-grid-image {
  width: 98%;
  grid-column: 2;
}

.portfolio-grid-form > label {
  margin: 1px;
  grid-column: 1;
  height: 38px;
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* outline: 1px solid blue; */
}

.portfolio-grid-form > .portfolio-form-input-fields {
  grid-column: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30px;
  margin: 4px 0;
  outline: none;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 1px #18333340;
  font-size: 18px;
  padding: 4px 8px;
}
.portfolio-grid-form > .portfolio-form-input-fields:focus {
  grid-column: 2;
  height: 30px;
  outline: 1px solid #183333;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 1px #18333340;
}

.portfolio-grid-form > .checkbox {
  grid-column: 1/-1;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 4px 8px;
}

.checkbox-label {
  height: 30px;
}

.checkbox-input {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 1px #18333340;
  background-color: #183333;
}
.checkbox-input:focus {
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 1px #18333340;
  background-color: #183333;
}

.portfolio-account-info-submit-button {
  grid-column: 1/-1;
  width: 200px;
  height: 50px;
  border-radius: 1.5rem;
  background-color: #183333;
  color: #f5f5f5;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  box-shadow: 4px 4px 1rem rgba(100, 100, 100, 0.4);
}

.portfolio-account-info-submit-button:hover {
  cursor: pointer;
  outline: 4px solid #183333;
  color: #183333;
  background-color: #bddde528;
  box-shadow: 8px 8px 1rem rgba(100, 100, 100, 0.4);
}

.portfolio-account-info-image {
  grid-column: 2;
  height: 100%;
  width: 95%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 8px 8px 1rem rgba(100, 100, 100, 0.4);
}

/*  */
/*  */
/*  */
/*  PORTFOLIO HOME */
/*  */
/*  */

.portfolio-home-div {
  grid-column: 2;
  height: 100%;
  width: 100%;
  border-top: 4px solid #183333;
  /* border-bottom: 4px solid #183333; */

  /* background: #183333; */
  /* box-shadow: inset 2px 2px 6rem 2rem #102222; */
}

.portfolio-home-div-inner {
  grid-column: 2;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  color: #183333;
  font-size: calc(14px + 1vw);
}

.portfolio-submit-button {
  grid-column: 1/-1;
  width: 200px;
  height: 50px;
  border-radius: 1.5rem;
  background-color: #183333;
  color: #f5f5f5;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  box-shadow: 4px 4px 1rem rgba(100, 100, 100, 0.4);
}

.portfolio-submit-button:hover {
  cursor: pointer;
  outline: 4px solid #183333;
  color: #183333;
  background-color: #bddde528;
  box-shadow: 8px 8px 1rem rgba(100, 100, 100, 0.4);
}

#logout {
  width: 100px;
  height: 30px;
  font-size: 14px;
  border-radius: 1rem;
  background-color: #183333e6;
}
#logout:hover {
  background-color: #bddde528;
}

.portfolio-image {
  grid-column: 1;
  height: 90%;
  width: 90%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 8px 8px 1rem rgba(100, 100, 100, 0.4);
}

.portfolio-dashboard-container-grid {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 1rem;
}

.portfolio-dashboard-information {
  grid-column: 1;
  grid-row: 1;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.3);
}

.portfolio-dashboard-explore-services {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  grid-column: 1;
  margin: 1rem 0 0;
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.3);
  height: 170px;
}
.portfolio-dashboard-explore-services > div > .explore-services-heading {
  color: #183333;
  font-size: 14px;
  height: 2rem;
  margin: 0.5rem;
}
.portfolio-dashboard-explore-services > div > .explore-services-desc {
  color: #183333;
  font-size: 12px;
  height: 70px;
  margin: 0.5rem;
}
.portfolio-dashboard-explore-services > div > a {
  font-size: 12px;
  height: 20px;
  width: 40px;
  margin: 0.5rem;
  border-radius: 4px;
  padding: 4px 12px;
  outline: 1px solid #183333;
  box-shadow: 2px 2px 1px rgba(100, 100, 100, 0.4);
}

.portfolio-dashboard-learning-center {
  grid-column: 2;
  grid-row: 1/-1;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: rgba(245, 245, 245, 0.3);
}
.portfolio-dashboard-learning-center-title {
  margin: 20px;
  color: #183333;
  font-size: 24px;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.portfolio-dashboard-learning-center > * > .post-content {
  padding: 5px 20px;
  margin: 10px auto;
}
.portfolio-dashboard-learning-center > * > .post-content > .post-bottom-border {
  display: none;
}
.portfolio-dashboard-learning-center > * > .post-content > * > * > * > h2 {
  margin-top: 10px;
  font-size: 20px;
}
.portfolio-dashboard-learning-center > * > .post-content > * > * > h3 {
  margin-top: 10px;
  font-size: 16px;
}
.portfolio-dashboard-learning-center > * > .post-content > * > * {
  padding: 20px;
  background-color: #18333320;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.4);
}

/*  */
/*  */
/*  */
/*  MOBILE  */
/*  */
/*  */
/*  */
@media screen and (max-width: 768px) {
  .portfolio-account-info {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .portfolio-grid {
    grid-template-columns: 50px 1fr;
    grid-template-rows: 75px 1fr;
  }
  .portfolio-grid-container {
    grid-template-columns: 1fr;
  }
  .portfolio-nav-links:hover {
    padding: 6px 2px;
    border-radius: 0.5rem;
  }
  .portfolio-account-info {
    grid-column: 2;
    width: 90%;
    margin: 0 auto 1rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .portfolio-image {
    display: none;
  }
  .portfolio-account-info-image {
    grid-column: 1;
  }
}
