/* styles.css */
:root {
  --text-color-light: #030718;
  --bg-color-light: whitesmoke;
  --text-color-dark: whitesmoke;
  --bg-color-dark: #030718;
  font-family: "Rubik", sans-serif;
  width: 90vw;
  margin: 2rem auto;
}

.glasses-logo {
  background-image: url("./public/glasseslogo.svg");
}

body[data-theme="light"] {
  --text-color: var(--text-color-light);
  --bg-color: var(--bg-color-light);
}

body[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --bg-color: var(--bg-color-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* NAV */

.login {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.company-name-and-logo {
  /* display: flex; */

  align-items: center;
  font-size: 24px;
}

.brand-name {
  margin: 0 8px;
}

.theme-toggle {
  margin: 0 1rem;
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 20px;
}

/* MAIN PAGE STYLES */

h1 {
  font-size: calc(24px + 2vw);
  font-weight: 450;
  margin-bottom: 2px;
  padding-bottom: 2px;
  word-wrap: normal;
}
h2 {
  font-size: calc(14px + 1vw);
  font-weight: 400;
  margin-top: 2px;
  padding-top: 2px;
  word-wrap: normal;
}
h3 {
  margin-top: 2px;
  padding-top: 2px;
  word-wrap: normal;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 4rem;
}
.post-info {
  grid-column: 1;
  border-right: 1px solid;
}
.post-content {
  grid-column: 2;
  margin-left: 1rem;
}

.post-title-div {
  margin: auto;
  padding: 1rem;
}
.post-date {
  margin: auto;
  font-size: calc(8px + 0.5vw);
  color: gray;
  font-variant: small-caps;
  /* padding: 1rem; */
}
.post-title-div-picture {
  width: 60%;
  margin: 2rem auto;
  height: 400px;
  object-fit: cover;
  display: flex;
}
.post-body {
  font-size: calc(12px + 0.5vw);
  line-height: calc(14px + 1vw);
  margin: 8px 0;
}

.post-bottom-border {
  border-bottom: 1px solid gray;
  height: 1rem;
  border-bottom-right-radius: 4rem;
}

.share-buttons {
  display: flex;
  align-items: center;
}
.share-buttons > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  margin: 4px;
  background-color: inherit;
  color: inherit;
  outline: 1px solid;
  border: 0;
  border-radius: 4px;
  font-variant: small-caps;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 1);
}
.share-buttons > *:hover {
  cursor: pointer;
  background-color: darkgray;
  color: whitesmoke;
  outline: 1px solid rgba(100, 100, 100, 1);
  border-radius: 4px;
  box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 1);
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-links {
  margin: 4px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* BASIC MOBILE STYLES */
@media screen and (min-width: 300px) and (max-width: 768px) {
  .post-info {
    display: none;
  }
  .post-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .post-title-div {
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  .post-content {
    grid-column: 1;
  }
  .share-buttons-text {
    display: none;
  }
}
