/* styles.css */
:root {
  --text-color-light: #030718;
  --bg-color-light: whitesmoke;
  --bg-color-lightgradient: linear-gradient(
    to right top,
    #f5f5f5,
    #e8ebf2 50%,
    #d4e3ee 80%,
    #bddde5,
    #a9d6d5
  );
  --text-color-dark: whitesmoke;
  --bg-color-darkgradient: linear-gradient(65deg, rgb(3, 7, 18) 55%, #183333 100%);
  --caption-color-light: rgba(10, 10, 10, 0.6);
  --caption-color-dark: rgba(245, 245, 245, 0.8);
  --box-shadow-color-light: rgba(100, 100, 100, 0.2);
  --box-shadow-color-dark: rgba(200, 200, 200, 0.2);
}

html {
  font-family: "Rubik", sans-serif;

  margin: 0;
  padding: 0;
}
body {
  /* width: 90vw; */
  overflow-y: scroll;

  margin: 0 auto;
  padding: 0;
}

.glasses-logo {
  background-image: url("./public/glasseslogo.svg");
}

body[data-theme="light"] {
  --text-color: var(--text-color-light);
  --text-color-opposite: var(--text-color-dark);
  --bg-color: var(--bg-color-light);
  --bg-grad: var(--bg-color-lightgradient);
  --caption-color: var(--caption-color-light);
  --caption-color-opposite: var(--caption-color-dark);
  --box-shadow-color: var(--box-shadow-color-light);
  --headliner: #183333;
}

body[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --text-color-opposite: var(--text-color-light);
  --bg-color: var(--bg-color-dark);
  --bg-grad: var(--bg-color-darkgradient);
  --caption-color: var(--caption-color-dark);
  --caption-color-opposite: var(--caption-color-light);

  --box-shadow-color: var(--box-shadow-color-dark);
  --headliner: var(--bg-color-lightgradient);
}

body {
  background: var(--bg-grad);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* NAV */

#small {
  width: 50px;
  display: none;
}

.login {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header-container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  background-color: var(--bg-color);
  height: 4rem;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 8px 8px 2rem var(--box-shadow-color);
}

.company-name-and-logo {
  /* display: flex; */
  padding: 1rem;
  align-items: center;
  font-size: 48px;
}

.brand-name {
  margin: 0 8px;
}
.brand-name {
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 1px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.brand-name:before {
  content: "";
  background: var(--bg-grad);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.brand-name:hover {
  background-position: 0;
}

.brand-name:hover::before {
  width: 100%;
}

.theme-toggle {
  margin: 0 1rem;
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 20px;
}

.nav-links {
  padding: 1.5rem;
}
.nav-links:hover {
  text-decoration: none;
  padding: 1.5rem;
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.4);
  border-radius: 1rem;
}

/* MAIN PAGE STYLES */

h1 {
  font-size: calc(24px + 2vw);
  font-weight: 450;
  margin-bottom: 2px;
  padding-bottom: 2px;
  word-wrap: normal;
}
h2 {
  font-size: calc(14px + 1vw);
  font-weight: 400;
  margin: 2px;
  padding-top: 2px;
  word-wrap: normal;
}
h3 {
  margin-top: 2px;
  padding-top: 2px;
  word-wrap: normal;
}

.post-grid {
  display: grid;
  grid-template-columns: 175px 4fr;
  /* margin-bottom: 4rem; */
  width: 90vw;
  margin: 2rem auto 4rem;
}
.post-headliner {
  width: 100%;
  grid-column: 1 / span 2;
  /* background-color: #183333; */
  background: var(--headliner);
  color: var(--text-color-opposite);
  font-size: calc(12px + 1vw);
}
.post-headliner > .post-container > .post-title-div > a > h2 {
  font-size: calc(24px + 2vw);
}
.post-headliner > .post-container > .post-title-div > h3 {
  padding: 1rem 0;
  font-size: calc(14px + 1vw);
  color: inherit;
}
.post-headliner > .post-container > .post-title-div > * {
  font-size: calc(12px + 0.5vw);
  color: var(--caption-color-opposite);
}

.post-container {
  display: flex;
  width: 80vw;
  margin: auto;
}

.post-info {
  grid-column: 1;
  border-right: 1px solid;
  align-self: stretch;
}
.post-content {
  grid-column: 2;
  margin-left: 1rem;
}

.post-title-div {
  flex: 1 1 100%;
  margin: auto;
  padding: 1rem;
  width: 90vw;
}
.post-title-div > a > h2 {
  font-size: calc(24px + 1vw);
}

.post-date {
  margin: auto;
  font-size: calc(8px + 0.5vw);
  color: gray;
  font-variant: small-caps;
  /* padding: 1rem; */
}
.post-div-picture {
  flex: 1;
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  height: 400px;
  object-fit: cover;
  display: flex;
  max-width: 500px;
}
.picture-caption {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--caption-color);
}
.post-body {
  font-size: calc(12px + 0.5vw);
  line-height: calc(14px + 1vw);
  margin: 8px 0;
}

.post-bottom-border {
  border-bottom: 1px solid gray;
  height: 1rem;
  border-bottom-right-radius: 4rem;
}

.post-tags {
  font-size: 16px;
  margin-bottom: 1rem;
  color: var(--caption-color);
}

.share-buttons {
  display: flex;
  align-items: center;
}
.share-buttons > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  margin: 4px;
  background-color: inherit;
  color: inherit;
  outline: 1px solid;
  border: 0;
  border-radius: 4px;
  font-variant: small-caps;
  box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 1);
}
.share-buttons > *:hover {
  cursor: pointer;
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.4);
  color: inherit;
  outline: 1px solid var(--box-shadow-color);
  /* outline: 2px solid rgba(50, 100, 200, 1); */
  border-radius: 4px;
  /* box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 1); */
}

.footer {
  display: flex;
  flex-direction: column;
  background: var(--headliner);
  color: var(--text-color-opposite);
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 1rem 4px;
  font-size: calc(10px + 0.5vw);
}

.scroll-button {
  background-color: inherit;
}

.contact {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
.contact-main-form {
  margin: 1rem auto;
  min-width: 50%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.contact-main-form > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* BASIC MOBILE STYLES */
@media screen and (min-width: 300px) and (max-width: 800px) {
  body {
    overflow-y: none;
  }

  /* nav */
  #small {
    display: flex;
    justify-content: flex-end;
    max-width: 50px;
    min-width: 50px;
  }

  .menuItems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* color: white; */
    margin: 5px;
  }

  #large {
    display: none;
    width: 0px;
  }

  .post-info {
    display: none;
  }
  .post-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 1rem;
  }
  .post-grid {
    display: grid;
    grid-template-columns: 1fr 0;
    margin: 0;
  }
  .post-title-div {
    margin: 0 auto;
    padding: 0;
  }
  .post-div-picture {
    margin: 2rem auto;
    padding: 0;
  }

  .post-content {
    grid-column: 1;
    margin: 0;
  }
  .share-buttons-text {
    display: none;
  }
}
