/* styles.css */
:root {
  --text-color-light: #030718;
  --bg-color-light: whitesmoke;
  --bg-color-lightgradient: linear-gradient(to right top, #f5f5f5, #e8ebf2 50%, #d4e3ee 80%, #bddde5, #a9d6d5);
  --text-color-dark: whitesmoke;
  --bg-color-darkgradient: linear-gradient(65deg, rgb(3, 7, 18) 55%, #183333 100%);
  --caption-color-light: rgba(10, 10, 10, 0.6);
  --caption-color-dark: rgba(245, 245, 245, 0.8);
  --box-shadow-color-light: rgba(100, 100, 100, 0.3);
  --box-shadow-color-dark: rgba(200, 200, 200, 0.3);
}

html {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0;
  font-size: calc(12px + 0.5vw);
}

body[data-theme="light"] {
  --text-color: var(--text-color-light);
  --text-color-opposite: var(--text-color-dark);
  --bg-color: var(--bg-color-light);
  --bg-grad: var(--bg-color-lightgradient);
  --caption-color: var(--caption-color-light);
  --caption-color-opposite: var(--caption-color-dark);
  --box-shadow-color: var(--box-shadow-color-light);
  --headliner: #183333;
}

body[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --text-color-opposite: var(--text-color-light);
  --bg-color: var(--bg-color-dark);
  --bg-grad: var(--bg-color-darkgradient);
  --caption-color: var(--caption-color-dark);
  --caption-color-opposite: var(--caption-color-light);
  --box-shadow-color: var(--box-shadow-color-dark);
  --headliner: var(--bg-color-lightgradient);
}

body {
  background: var(--bg-grad);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* NAV */

#small {
  width: 50px;
  display: none;
}

.login {
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  margin: 2rem auto;
  width: 500px;
  height: 400px;
  outline: 2px solid #183333;
  border-radius: 2rem;
  box-shadow: 8px 8px 2rem var(--box-shadow-color);
}

.login form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}
.login form > * {
  width: 300px;
  margin: 4px auto;
}

.header-container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
  background-color: var(--bg-color);
  height: 4rem;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 8px 8px 2rem var(--box-shadow-color);
}

.company-name-and-logo {
  /* display: flex; */
  padding: 1rem;
  align-items: center;
  font-size: 42px;
}

.brand-name {
  margin: 0 8px;
}
.brand-name {
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 1px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.brand-name:before {
  content: "";
  background: var(--bg-grad);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.2s ease-in-out;
}

.brand-name:hover {
  background-position: 0;
}

.brand-name:hover::before {
  width: 100%;
}

.theme-toggle {
  margin: 0 1rem;
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 20px;
}

.nav-links {
  padding: 1rem;
  margin: 0 1rem;
}
.nav-links:hover {
  text-decoration: none;
  padding: 1rem;
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 2px 2px 4px rgba(200, 200, 200, 0.4);
  border-radius: 1rem;
}

.MuiOutlinedInput-root {
  background-color: var(--bg-grad) !important;
  color: var(--text-color) !important;
}
.MuiOutlinedInput-notchedOutline {
  background-color: var(--bg-grad) !important;
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
  border-width: 2px !important;
  border-radius: 8px !important;
  box-shadow: 10 !important;
}

/* HOME PAGE */
.home-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  background: var(--headliner);
  box-shadow: inset 2px 2px 8rem 1rem #102222;
}

.home-div-inner {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  width: 85%;
  height: 450px;
  color: var(--text-color-opposite);
  font-size: calc(12px + 1vw);
}
.home-div-text {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  margin: 0 1rem;
  /* border: 2px solid blue; */
}
.home-div-title {
  font-size: calc(24px + 2vw);
  word-wrap: normal;
  margin: 0 auto;
  padding: 0;
}
.home-div-subtitle {
  /* margin-top: 2rem; */
  font-size: calc(10px + 1.5vw);
  word-wrap: normal;
}
.home-div-body {
  /* margin-top: 1rem; */
  font-size: calc(10px + 1vw);
}
.home-div-image {
  grid-column: 2;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}
.home-div-image > img {
  /* max-width: calc(100% - 2rem); */
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: 12px 8px 16px 1px #204444;
  transition: box-shadow 0.3s;
}

.home-div-image:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(150, 150, 150, 0.4);
  border-radius: 2rem;
  cursor: pointer;
}

.bottom-left {
  display: none;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.home-div-image:hover .bottom-left {
  display: block;
  cursor: pointer;
  font-style: italic;
}

/* HOME CONTENT */
.home-content {
  margin: auto;
}
.home-content-about {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.home-content-images {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.home-content-images > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-content-images > * > * {
  width: 70%;
}

.lets-go {
  width: 250px;
  height: 75px;
  border-radius: 2rem;
  background-color: #183333;
  color: #f5f5f5;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}
.lets-go:hover {
  cursor: pointer;
  outline: 4px solid #183333;
  color: #183333;
  background-color: #bddde528;
}

/* MAIN BLOG PAGE STYLES */

h1 {
  font-size: calc(24px + 2vw);
  font-weight: 450;
  margin-bottom: 2px;
  padding-bottom: 2px;
  word-wrap: normal;
}
h2 {
  font-size: calc(14px + 1vw);
  font-weight: 400;
  margin: 2px;
  padding-top: 2px;
  word-wrap: normal;
}
h3 {
  margin-top: 2px;
  padding-top: 2px;
  word-wrap: normal;
}

.post-grid {
  display: grid;
  grid-template-columns: 175px 4fr;
  width: 90vw;
  margin: 2rem auto 4rem;
}
.post-headliner {
  width: 100%;
  grid-column: 1 / span 2;
  background: var(--headliner);
  color: var(--text-color-opposite);
  font-size: calc(12px + 1vw);
  height: 500px;
  box-shadow: inset 2px 2px 8rem 1rem #102222;
}

.post-headliner > .post-container {
  width: 90vw;
  margin: auto;
}
.post-headliner > .post-container > .post-title-div > a > h2 {
  font-size: calc(24px + 2vw);
}
.post-headliner > .post-container > .post-title-div > h3 {
  padding: 1rem 0;
  font-size: calc(14px + 1vw);
  color: inherit;
}
.post-headliner > .post-container > .post-title-div > * {
  font-size: calc(12px + 0.5vw);
  color: var(--caption-color-opposite);
}

.post-headline-div-picture {
  height: 450px;

  margin: 25px 1rem 25px 0;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 8px 8px 16px 1px #204444;
}

.post-container {
  display: flex;
  margin: auto;
}

.post-info {
  grid-column: 1;
  border-right: 1px solid;
  align-self: stretch;
}
.post-content {
  grid-column: 2;
  margin-left: 1rem;
}

.post-title-div {
  flex: 1 1 100%;
  margin: auto;
  padding: 1rem;
}
.post-title-div > a > h2 {
  font-size: calc(24px + 1vw);
}

.post-title-div-picture {
  flex: 1;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
  max-height: 500px;
  object-fit: cover;
  display: flex;
  border-radius: 1rem;
}

.post-date {
  margin: auto;
  font-size: calc(8px + 0.5vw);
  color: gray;
  font-variant: small-caps;
  /* padding: 1rem; */
}
.post-div-picture {
  flex: 1;
  margin: 2rem auto 2rem;
  /* margin: 2rem; */
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
  display: flex;
  border-radius: 1rem;
  box-shadow: 4px 4px 1rem 4px var(--box-shadow-color);
}

.picture-caption {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--caption-color);
}
.post-body {
  font-size: calc(14px + 0.5vw);
  line-height: calc(14px + 1vw);
  margin: 8px 0;
}

.post-bottom-border {
  border-bottom: 1px solid gray;
  height: 1rem;
  border-bottom-right-radius: 4rem;
}

.post-tags {
  font-size: 16px;
  margin-bottom: 1rem;
  color: var(--caption-color);
}

.share-buttons {
  display: flex;
  align-items: center;
}
.share-buttons > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  margin: 6px;
  background-color: inherit;
  color: inherit;
  border: 0;
  border-radius: 2px;
  font-variant: small-caps;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
}
.share-buttons > *:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
  color: inherit;
  outline: 1px solid var(--box-shadow-color);
  border-radius: 4px;
}

.footer {
  display: flex;
  flex-direction: column;
  /* background: var(--headliner); */
  /* color: var(--text-color-opposite); */
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  font-size: calc(10px + 0.5vw);
}

.scroll-button {
  background-color: inherit;
}

.contact {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}
.contact-main-form {
  margin: 1rem auto;
  min-width: 50%;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.contact-main-form > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* BASIC SMALL SCREEN STYLES */

@media screen and (max-width: 1200px) {
  .share-buttons-text {
    display: none;
  }
  .nav-links {
    padding: 1rem;
    margin: 0;
  }
  /* HOME PAGE */

  .home-div-inner {
    display: grid;
    grid-template-rows: 125px 325px;
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
  .home-div-text {
    display: grid;
    grid-row: 1/-1;
    grid-column: 1/-1;
    grid-template-rows: 125px 150px 175px;
    grid-template-columns: 1fr 1fr;
  }
  .home-div-title {
    display: grid;
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .home-div-subtitle {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(16px + 2vw);
    width: 95%;
  }
  .home-div-body {
    grid-column: 1;
    grid-row: 3;
    font-size: calc(10px + 1.5vw);
    width: 95%;
  }
  .home-div-image {
    grid-row: 2/3;
    grid-column: 2;
  }
  .home-div-image > img {
    height: 325px;
  }

  .home-content-images {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
  }

  .post-info {
    display: none;
  }
  .post-headliner > .post-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 1rem;
  }
  .post-grid {
    display: grid;
    grid-template-columns: 1fr 0;
    margin: 0 auto;
  }
  .post-content {
    grid-column: 1;
    margin: 0 auto;
  }
  .post-headline-div-picture {
    width: 100%;
    max-height: 500px;
    margin: 2rem auto;
    border-radius: 2rem;
    object-fit: cover;
  }
}
/*  MOBILE SPECIFIC STYLES */
@media screen and (max-width: 500px) {
  body {
    overflow-y: none;
  }
  /* nav */
  #small {
    display: flex;
    justify-content: flex-end;
    max-width: 50px;
    min-width: 50px;
  }
  .menuItems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* color: white; */
    margin: 5px;
  }
  #large {
    display: none;
    width: 0px;
  } /* HOME PAGE */
  .home-div-inner {
    display: grid;
    grid-template-rows: 100px 75px 200px 100px;
    grid-template-columns: 1fr;
    width: 95%;
  }
  .home-div-text {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-rows: 100px 75px 200px 100px;
    grid-template-columns: 1fr;
  }
  .home-div-title {
    font-size: calc(22px + 3vw);
    display: grid;
    grid-row: 1;
    grid-column: 1;
  }
  .home-div-subtitle {
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    font-size: calc(14px + 1.5vw);
    padding: 0;
    margin: 0 auto;
  }
  .home-div-body {
    grid-column: 1;
    grid-row: 4;
    margin-top: 1.5rem;
    text-align: center;
    font-size: calc(10px + 1.5vw);
  }
  .home-div-image {
    grid-row: 3;
    grid-column: 1;
  }
  .home-div-image > img {
    height: 200px;
    /* position: relative; */
  }
  .post-info {
    display: none;
  }
  .post-headline-div-picture {
    width: 100%;
    max-height: 500px;
    margin: 2rem auto;
    border-radius: 2rem;
    object-fit: cover;
  }
  .post-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 1rem;
  }
  .post-grid {
    display: grid;
    grid-template-columns: 1fr 0;
    margin: 0 auto;
  }
  .post-title-div {
    margin: 0 auto;
    padding: 0;
  }
  .post-title-div-picture {
    flex: 1;
    margin: 2rem auto;
    max-width: 98vw;
    object-fit: cover;
    display: flex;
  }
  .post-div-picture {
    margin: 2rem 0;
    padding: 0;
    max-width: 98vw;
    max-height: 400px;
  }
  .post-content {
    grid-column: 1;
    margin: 0 auto;
  }
  .share-buttons-text {
    display: none;
  }
}
