.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}
.spinner {
  /* border-width: 3px; */
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* border-top-width: 3px; */
  border-top-style: solid;
  border-top-color: white;
  /* width: 10px; */
  /* height: 10px; */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
