.single-post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 1fr;
  width: 100vw;
  margin: 2rem auto 4rem;
}

.single-post-heading-div {
  grid-column: 1 / span 2;

  height: 500px;
  width: 100%;
  background: #183333;
  box-shadow: inset 2px 2px 8rem 1rem #102222;
}

.single-post-headliner {
  width: 90%;
  margin: auto;
  grid-column: 1 / span 2;
  grid-row: 1;
  color: whitesmoke;
  font-size: calc(12px + 1vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10px 300px 160fr;
}

.single-post-back-button {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  font-weight: 300;
  color: #183333;
}
.single-post-back-button:hover {
  text-decoration: none;
}

.single-post-headliner > h1 {
  grid-column: 1;
  grid-row: 2;
  /* padding: 1rem; */
  font-size: calc(24px + 3vw);
  margin: auto;
}

.single-post-headliner > h2 {
  grid-column: 1;
  grid-row: 3;
  font-weight: 350;
}

.single-post-date {
  margin: auto;
  font-size: 14px;
  color: lightgray;
  font-variant: small-caps;
}
.single-post-tags {
  font-size: 14px;
  color: lightgray;
}

.single-post-home-picture {
  grid-column: 2;
  grid-row: 1/-1;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.single-post-home-picture > img {
  height: calc(250px + 10vw);
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 4px 4px 8px 1px #102222;
}
.single-post-home-picture > .caption {
  margin: 1rem auto;
  font-style: italic;
  font-size: 14px;
  color: gray;
}

.single-post-body {
  grid-row: 2;
  grid-column: 1/-1;
  width: 80vw;
  margin: 4rem auto;
  font-size: 20px;
  line-height: 1.5;
  display: grid;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (max-width: 1200px) {
  .single-post-headliner {
    width: 95%;
    margin: auto;
    grid-template-rows: 10px 350px 140fr;
  }
  .single-post-headliner > h1 {
    grid-column: 1;
    grid-row: 2;
    padding: 1rem;
    font-size: calc(22px + 3vw);
    margin: auto;
  }
  .single-post-subtitle {
    font-size: 14px;
    margin-left: 1rem;
    color: lightgray;
  }
  .single-post-home-picture > img {
    height: 400px;
    width: 100%;
    border-radius: 1rem;
    /* padding: 1rem; */
    object-fit: cover;
    box-shadow: 4px 4px 8px 1px #20444440;
  }
}

@media screen and (max-width: 500px) {
  .single-post-grid {
    display: grid;
    grid-template-columns: 1fr 0;
    margin: 0 auto;
  }
  .single-post-headliner {
    grid-template-columns: 1fr 0;
    grid-template-rows: 0px 250px 125fr 125fr;
  }
  .single-post-home-picture {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .single-post-home-picture > img {
    height: 200px;
    width: 60vw;
    margin: 25px auto;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 4px 4px 8px 1px #20444440;
  }
  .single-post-headliner > h1 {
    grid-column: 1;
    grid-row: 3;
    padding: 0 1rem;
    font-size: 32px;
    margin: auto;
    text-align: center;
  }
  .single-post-headliner > h2 {
    grid-row: 4;
  }
  .single-post-body {
    width: 90vw;
    margin: 4rem auto;
    font-size: 22px;
    line-height: 1.4;
  }
}
